clockwise-ui/src-tauri/clippy-report.json
clockwise-ui/src-tauri/bin/clockwise-server-x86_64-pc-windows-gnu.exe
**/coverage/
.scannerwork/report-task.txt
clockwise-ui/src/lib/version.ts
*.deb
pkgbuild/
pkg/
*.pkg.tar.zst
.vscode/
.scannerwork/
changelog.json
CHANGELOG.md
