clockwise-dashboard/src-tauri/clippy-report.json
.scannerwork/*
clockwise-dashboard/src-tauri/bin/clockwise-server-x86_64-pc-windows-gnu.exe
**/coverage/
.scannerwork/report-task.txt
clockwise-dashboard/src/lib/version.ts
*.deb
pkgbuild/
pkg/
*.pkg.tar.zst